@charset "ISO-8859-1";
*{
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
    box-sizing: border-box;

}
@media screen and (max-width: 500px) {
    .navbar a {
    float: none;
    display: block;
    }
    }
.background{
    background: #1ddced;
    
}
.navbar-brand .priy{
    color: black;
    font-weight: bold;
    /* color: #e74c3c; */
    }
    .navbar-brand .priy:hover{
    color: #FF0000;
    /* color: #e74c3c; */
    }
    .nav-link .priya{
    color: black;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    text-transform: uppercase;
    font-style: normal;
    }
    .nav-link .priya:hover{
    color: #FF0000;
    /* color:  #000080; */
    }
    .navbar-nav li a
    {
    float: right;
    text-align: left;
    }
.heading{
    text-align: left;
    font-size: 35px;
    font-style: bold;
}
.chatbox{
    width: 500px;
    min-width: 390px;
    height: 600px;
    background: #fff;
    padding: 25px;
    margin: 20px auto;
    box-shadow: 5px 5px 15px #e74c3c;
}
.chatlog{
    padding: 10px;
    width: 100%;
    height: 450px;
    background: #f5f3f3; 
    overflow-x: hidden;
    overflow-y: scroll;

}
.chatlog ::-webkit-scrollbar {
    width: 10px;
}
.chatlog ::-webkit-scrollbar-track {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1) ;
}

.chat{
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}
.chat #chatLog{
    width: 80%;
    padding: 15px;
    margin: 5px 10px 0;
    background : 1ddced;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
}
/* .friend #chatLog {
    background: #1adda4;
}
.self #chatLog {
    background: #1ddced;
    order: -1;
}
 */
 .chat-form{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}
.chat-form text {
    background: #fbfbfb;
    width: 85%;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: #333;
}
label{
    padding: 2px;
    padding-right: 5px;
}
input{
    width: 293px;
    margin-left: 0px;
    padding: 2px;
    
}
 /* -------------------------------footer */
 .context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
#footer ul.quick-links li a i{
    margin-right: 5px;
    margin-bottom: 15px;
    }
    #footer ul.quick-links li:hover a i {
        font-weight: 700;
    }